.loader-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}

.logo-font {
    font-family: 'Permanent Marker', cursive;
}
.logo {
    
    width: 120px;
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    margin: 16px 24px 16px 0;
    float: left;

}

.dropdowns-right {
    
    width: 120px;
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    margin: 16px 24px 16px 0;
    float: right;

}